.daily-forecast-card-container {
  width: max-content;
  height: max-content;
  padding: 1em 1em;

  &.today {
    background-color: lightgrey;
  }

  .daily-forecast-card-footer {
    display: flex;
    justify-content: space-between;
    padding: 0em .5em;
  }
}